@font-face {
    font-family: "angel";
    src: url('../fonts/ANGEL___.otf') format('opentype');
}
@-webkit-keyframes questionmark-skew {
    from {
        -webkit-transform: skew(0deg, 0deg);
    }
    to {
        -webkit-transform: skew(0deg, 20deg);
    }
}
body {
    background-image: url('../background.png');
    font-size: 15pt;
    font-family: 'Droid Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}
a, a:hover {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0px;
}
ul li {
    padding-top: 5px;
    padding-bottom: 5px;
}
article {
    margin-bottom: 100px;
}
article .post-header {
    font-size: 30pt;
}
article .post-footer {
    margin-top: 80px;
    text-align: right;
}
.container {
    max-width: 1100px;
}
.blog-title {
    text-align: center;
    padding-top: 60px;
    padding-bottom:60px;
}
.blog-title h1 {
    font-size: 200pt;
    font-family: angel;
}

.blog-title h1 span {
    display: inline-block;
    -webkit-animation-name: questionmark-skew;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

.align-center {
    text-align: center;
}

.list-of-posts {
    font-style: italic;
}
.f-animation {
    -webkit-animation-name: questionmark-skew;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}
footer.blog-footer {
    text-align: center;
    font-size: 10pt;
}